<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Include.wxi?>

  <?define Setup_ProjectDir=$(var.ProjectDir)?>
  
  <?define Crypto_TargetDir=$(var.Crypto.TargetDir)?>
  <?define CsrBLE_TargetDir=$(var.CsrBLE.TargetDir)?>
  <?define SRF32_TargetDir=$(var.Setup_ProjectDir)SRF32\?>
  <?define Communication_x86_TargetDir=$(var.Communication.ProjectDir)bin\x86\$(var.Communication.Configuration)\netstandard2.0\?>
  
  <?define HideezServiceHost_TargetDir=$(var.HideezServiceHost.TargetDir)?>
  <?define RfidService_TargetDir=$(var.RfidService.TargetDir)?>
  
  <?define HideezSafe_TargetDir=$(var.HideezSafe.TargetDir)?>

  <?define DPInst_SourceDir=$(var.Setup_ProjectDir)DPInst\?>
  <?define CsrWin7_x64_SourceDir=$(var.DPInst_SourceDir)win7\win64\ ?>
  <?define CsrWin7_x86_SourceDir=$(var.DPInst_SourceDir)win7\win32\ ?>
  <?define CsrWin8_x64_SourceDir=$(var.DPInst_SourceDir)win8\win64\ ?>
  <?define CsrWin8_x86_SourceDir=$(var.DPInst_SourceDir)win8\win32\ ?>

  <!-- Architecture specific path detection -->
  <?if $(var.Platform) = x64 ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?define PlatformCommonFilesFolder = "CommonFiles64Folder" ?>
  <?define PlatformSystemFolder = "System64Folder" ?>
  <?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?define PlatformCommonFilesFolder = "CommonFilesFolder" ?>
  <?define PlatformSystemFolder = "SystemFolder" ?>
  <?endif ?>

  <Product Id="*"
           Name="Hideez Safe's Update $(var.AppVersion)"
           Language="$(var.Language)"
           Version="$(var.AppVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">


    <!-- Languages: en(1033), de(1031), ua(1058), ru(1049) -->
    <Package InstallerVersion="301"
             Compressed="yes"
             InstallScope="perMachine"
             Languages="1033"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

    <Media Id="1"
           Cabinet="hideezsafe.cab"
           EmbedCab="yes" />

    <Icon Id="app.ico" SourceFile="32x32.ico"/>
    <Property Id="ARPPRODUCTICON" Value="app.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="Resources\InstallerBanner.jpg"/>
    <WixVariable Id="WixUIDialogBmp" Value="Resources\InstallerDialog.jpg"/>

    <!-- Desktop Application Feature -->
    <Feature Id="ProductFeature" Title="Hideez Safe" Level="1">
      <ComponentGroupRef Id="HideezService" />

      <ComponentGroupRef Id="RfidService" />

      <ComponentGroupRef Id="ProductComponents" />

      <ComponentGroupRef Id="ru_files" />
      <ComponentGroupRef Id="uk_files" />

      <ComponentGroupRef Id="CsrDriverShared" />
      <ComponentGroupRef Id="CsrDriverWin7x64" />
      <ComponentGroupRef Id="CsrDriverWin7x86" />
      <ComponentGroupRef Id="CsrDriverWin8x64" />
      <ComponentGroupRef Id="CsrDriverWin8x86" />

      <ComponentRef Id="ApplicationShortcut" />

    </Feature>

    <!-- Directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="HideezFolder" Name="Hideez">
          <Directory Id="INSTALLFOLDER" Name="Safe v3">
            <Directory Id="ru" Name="ru" />
            <Directory Id="uk" Name="uk" />
            <Directory Id="x64_" Name="x64" />
            <Directory Id="x86_" Name="x86" />
            <Directory Id="csr" Name="driver" />
            <Directory Id="rfid" Name="rfid" />
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="StartMenuProgramsFolder" Name="Hideez"/>
      </Directory>

      <Directory Id="$(var.PlatformSystemFolder)" />
    </Directory>

    <!--Start menu shortcut-->
    <DirectoryRef Id="StartMenuProgramsFolder">
      <Component Id="ApplicationShortcut"
                 Guid="{D9A5AE43-23E1-434A-9150-153672919CD9}">
        
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Hideez Safe"
                  Target="[#HideezSafe.exe]"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        
        <RemoveFolder Id="StartMenuProgramsFolder"
                      On="uninstall"/>
      
        <RegistryValue Root="HKCU" Key="Software\Hideez\Safe" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <UI>
      <UIRef Id="WixUI_InstallDir" />

      <!-- Skip license and folder selection dialog -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="VerifyReadyDlg"
               Order="2">1</Publish>

      <Publish Dialog="VerifyReadyDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2">1</Publish>

      <!-- Application launch checkbox is checked by default -->
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchInstalledApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!--<WixVariable Id="WixUILicenseRtf" Value="Copyright.rtf" />-->

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Hideez Safe" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

    <Property Id="WixShellExecTarget" Value="[#HideezSafe.exe]" />

    <CustomAction Id="AssignDriverInstallerProperty" Property="CSRDRIVERPATH" Value="[INSTALLFOLDER]driver\DPInst.exe" />
    <CustomAction Id="LaunchInstalledApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <InstallExecuteSequence>
      <!-- Set path to driver installator if option is checked -->
      <Custom Action="AssignDriverInstallerProperty" After="CostFinalize" >
        INSTALLDONGLEDRIVER
      </Custom>

      <Custom Action="DataForSetupCustomComponentsAction" After="AssignDriverInstallerProperty" >
        NOT Installed
      </Custom>
      
      <!-- Setup CSR driver, HES address and other settings after initial installation -->
      <Custom Action="SetupCustomComponentsAction" After="InstallFiles">
        NOT Installed
      </Custom>
      
      <!-- Launch application after upgrade and passive install -->
      <Custom Action="LaunchInstalledApplication" After="InstallFinalize">WIX_UPGRADE_DETECTED AND UILevel = 3</Custom>
    </InstallExecuteSequence>
  </Product>

  <!-- Hideez Service -->
  <Fragment>
    <ComponentGroup Id="HideezService" Directory="INSTALLFOLDER">
      <Component Id="HideezServiceHost.exe" Guid="{FB54A20C-310F-474A-91E2-835AC3A34485}">
        <File Id="HideezServiceHost.exe" Name="HideezServiceHost.exe" KeyPath="yes" Source="$(var.HideezServiceHost_TargetDir)HideezServiceHost.exe" />
        <ServiceInstall
          Id="si_HideezService"
          Name="Hideez Service"
          DisplayName ="Hideez Service"
          Start="auto"
          ErrorControl="normal"
          Type="ownProcess"
          Description="Provides communication with Hideez devices via BLE">
          <ServiceConfig DelayedAutoStart="no" OnInstall="yes" />
          <!-- 
          Todo: Proper restart of the CSR module will allow us to configure
          service failure actions properly
          -->
          <util:ServiceConfig
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="restart"
            RestartServiceDelayInSeconds="5"
            ResetPeriodInDays="3"/>
        </ServiceInstall>
        <ServiceControl
          Id="sc_HideezService"
          Name="Hideez Service"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>
  
      <!-- Hideez Service dependencies -->
      <!-- 
      Because Service shares folder with main application
      shared dependencies are omited in this component group
      -->

      <Component Id="HideezServiceHost.exe.config" Guid="{86540F4F-2BD5-4BDA-97D2-F76207811073}" Win64="$(var.Win64)">
        <File Id="HideezServiceHost.exe.config" Name="HideezServiceHost.exe.config" Source="$(var.HideezServiceHost_TargetDir)HideezServiceHost.exe.config" />
      </Component>

      <Component Id="CsrBLE.dll" Guid="{8B202547-7773-4609-B7B9-8EFC28E7115D}" Win64="$(var.Win64)">
        <File Id="CsrBLE.dll" Name="CsrBLE.dll" Source="$(var.CsrBLE_TargetDir)CsrBLE.dll" />
      </Component>

      <Component Id="Crypto.dll" Guid="{9505B474-F5BC-447F-AEFA-FBF2A59224AF}" Win64="$(var.Win64)">
        <File Id="Crypto.dll" Name="Crypto.dll" Source="$(var.Crypto_TargetDir)Crypto.dll" />
      </Component>

      <Component Id="ServiceLibrary.dll" Guid="{6203C361-745D-4029-9FA7-D0EDA29B23F6}" Win64="$(var.Win64)">
        <File Id="ServiceLibrary.dll" Name="ServiceLibrary.dll" Source="$(var.HideezServiceHost_TargetDir)ServiceLibrary.dll" />
      </Component>

      <Component Id="ServiceLibrary.Implementation.dll" Guid="{C619B2FD-D8EF-4F01-B7EE-F1BE252B0891}" Win64="$(var.Win64)">
        <File Id="ServiceLibrary.Implementation.dll" Name="ServiceLibrary.Implementation.dll" Source="$(var.HideezServiceHost_TargetDir)ServiceLibrary.Implementation.dll" />
      </Component>
      
      <Component Id="System.Collections.Immutable.dll" Guid="{FDBF83CD-7CED-4FB1-BAB3-71887F1A4B66}" Win64="$(var.Win64)">
        <File Id="System.Collections.Immutable.dll" Name="System.Collections.Immutable.dll" Source="$(var.HideezServiceHost_TargetDir)System.Collections.Immutable.dll" />
      </Component>
      
      <Component Id="Communication.dll" Guid="{C950D159-A3B2-4816-872F-5A7E6B0B7C32}" Win64="$(var.Win64)">
        <File Id="Communication.dll" Name="Communication.dll" Source="$(var.HideezServiceHost_TargetDir)Communication.dll" />
      </Component>

      <Component Id="HideezMiddleware.dll" Guid="{6A0D681C-E36D-4C6E-B8DD-2F7ED5A26556}" Win64="$(var.Win64)">
        <File Id="HideezMiddleware.dll" Name="HideezMiddleware.dll" Source="$(var.HideezServiceHost_TargetDir)HideezMiddleware.dll" />
      </Component>
      
    </ComponentGroup>
  </Fragment>
  
  <!-- Rfid Service -->
  <Fragment>
    <ComponentGroup Id="RfidService" Directory="rfid">
      <Component Id="RfidService.exe" Guid="{91C5AEC8-1A43-482F-B18F-AAE44830D8B4}">
        <File Id="RfidService.exe" Name="RfidService.exe" KeyPath="yes" Source="$(var.RfidService_TargetDir)RfidService.exe" />
        <ServiceInstall
          Id="si_RfidService"
          Name="Rfid Service"
          DisplayName ="Rfid Service"
          Start="auto"
          ErrorControl="normal"
          Type="ownProcess"
          Description="Communicates information received from RFID reader">
          <ServiceConfig DelayedAutoStart="no" OnInstall="yes" />
          <util:ServiceConfig
            FirstFailureActionType="restart"
            SecondFailureActionType="restart"
            ThirdFailureActionType="none"
            RestartServiceDelayInSeconds="5"
            ResetPeriodInDays="1"/>
        </ServiceInstall>
        <ServiceControl
          Id="sc_RfidService"
          Name="Rfid Service"
          Start="install"
          Stop="both"
          Remove="uninstall"
          Wait="yes" />
      </Component>
  
      <!-- Rfid Service dependencies -->    
      <!-- Even though all components may be specified as Win64=true, all of them are actually 32-bit -->
      <Component Id="RfidService.exe.config" Guid="{C44BC368-C707-4296-AA03-A862688BA53F}">
        <File Id="RfidService.exe.config" Name="RfidService.exe.config" Source="$(var.RfidService_TargetDir)RfidService.exe.config" />
      </Component>

      <Component Id="Rfid.Communication.dll" Guid="{DD0C2FAE-5DDB-4B5F-AEFD-6AE74B9E58E4}">
        <File Id="Rfid.Communication.dll" Name="Communication.dll" Source="$(var.Communication_x86_TargetDir)Communication.dll" />
      </Component>
    
      <Component Id="Rfid.System.Collections.Immutable.dll" Guid="{AEAED7FB-8912-45EC-97E0-F7FEDF0BA969}">
        <File Id="Rfid.System.Collections.Immutable.dll" Name="System.Collections.Immutable.dll" Source="$(var.RfidService_TargetDir)System.Collections.Immutable.dll" />
      </Component>
  
      <Component Id="SRF32.dll" Guid="{34E50D90-5B84-476C-922D-B05C91F55B5D}">
        <File Id="SRF32.dll" Name="SRF32.dll" Source="$(var.SRF32_TargetDir)SRF32.dll" />
      </Component>
  
    </ComponentGroup>
  </Fragment>
    
  <!--Programm Files-->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">      
     <Component Id="CommonServiceLocator.dll" Guid="{A95D69BF-9CBF-4B15-8CD1-E1E550AD8F1D}" Win64="$(var.Win64)">
        <File Id="CommonServiceLocator.dll" Name="CommonServiceLocator.dll" Source="$(var.HideezSafe_TargetDir)CommonServiceLocator.dll" />
      </Component>

      <Component Id="ControlzEx.dll" Guid="{166A2423-D8D6-464F-8676-6E9470E33AA3}" Win64="$(var.Win64)">
        <File Id="ControlzEx.dll" Name="ControlzEx.dll" Source="$(var.HideezSafe_TargetDir)ControlzEx.dll" />
      </Component>
      
      <Component Id="GalaSoft.MvvmLight.dll" Guid="{0D9D78A8-558D-4493-A0B0-CC58ADEAA8D8}" Win64="$(var.Win64)">
        <File Id="GalaSoft.MvvmLight.dll" Name="GalaSoft.MvvmLight.dll" Source="$(var.HideezSafe_TargetDir)GalaSoft.MvvmLight.dll" />
      </Component>

      <Component Id="GalaSoft.MvvmLight.Extras.dll" Guid="{8C5D98A2-2238-4553-A2E5-9BD8EFF7802A}" Win64="$(var.Win64)">
        <File Id="GalaSoft.MvvmLight.Extras.dll" Name="GalaSoft.MvvmLight.Extras.dll" Source="$(var.HideezSafe_TargetDir)GalaSoft.MvvmLight.Extras.dll" />
      </Component>

      <Component Id="GalaSoft.MvvmLight.Platform.dll" Guid="{595C60DE-B178-4DE2-9E82-2CF314F0FCAB}" Win64="$(var.Win64)">
        <File Id="GalaSoft.MvvmLight.Platform.dll" Name="GalaSoft.MvvmLight.Platform.dll" Source="$(var.HideezSafe_TargetDir)GalaSoft.MvvmLight.Platform.dll" />
      </Component>

      <Component Id="Gu.Wpf.Adorners.dll" Guid="{AB435AAF-74FE-4FE0-AAD6-E543282B4250}" Win64="$(var.Win64)">
        <File Id="Gu.Wpf.Adorners.dll" Name="Gu.Wpf.Adorners.dll" Source="$(var.HideezSafe_TargetDir)Gu.Wpf.Adorners.dll" />
      </Component>
        
      <Component Id="Hardcodet.Wpf.TaskbarNotification.dll" Guid="{2F0858BD-425F-4C29-BA5C-B40E04441086}" Win64="$(var.Win64)">
        <File Id="Hardcodet.Wpf.TaskbarNotification.dll" Name="Hardcodet.Wpf.TaskbarNotification.dll" Source="$(var.HideezSafe_TargetDir)Hardcodet.Wpf.TaskbarNotification.dll" />
      </Component>

      <Component Id="HideezSafe.exe" Guid="{F963D64C-61C1-4540-B889-33E922AE25FC}" Win64="$(var.Win64)">
        <File Id="HideezSafe.exe" Name="HideezSafe.exe" Source="$(var.HideezSafe_TargetDir)HideezSafe.exe" />
      </Component>

      <Component Id="HideezSafe.exe.config" Guid="{768BF8DE-3F35-4960-8595-28540E87FF27}" Win64="$(var.Win64)">
        <File Id="HideezSafe.exe.config" Name="HideezSafe.exe.config" Source="$(var.HideezSafe_TargetDir)HideezSafe.exe.config" />
      </Component>
        
      <Component Id="MahApps.Metro.dll" Guid="{5FE85FF2-59D4-45D0-8E99-1A366993BA4D}" Win64="$(var.Win64)">
        <File Id="MahApps.Metro.dll" Name="MahApps.Metro.dll" Source="$(var.HideezSafe_TargetDir)MahApps.Metro.dll" />
      </Component>
      
      <Component Id="MahApps.Metro.IconPacks.dll" Guid="{4F3F52C5-6A08-4D80-B10E-6784FF5A401E}" Win64="$(var.Win64)">
        <File Id="MahApps.Metro.IconPacks.dll" Name="MahApps.Metro.IconPacks.dll" Source="$(var.HideezSafe_TargetDir)MahApps.Metro.IconPacks.dll" />
      </Component>
        
      <Component Id="MvvmExtensions.dll" Guid="{3C548096-625C-4EA0-9546-0A929705F98B}" Win64="$(var.Win64)">
        <File Id="MvvmExtensions.dll" Name="MvvmExtensions.dll" Source="$(var.HideezSafe_TargetDir)MvvmExtensions.dll" />
      </Component>

      <Component Id="NLog.dll" Guid="{625004D9-8D3A-49F7-936D-F94160BE5286}" Win64="$(var.Win64)">
        <File Id="NLog.dll" Name="NLog.dll" Source="$(var.HideezSafe_TargetDir)NLog.dll" />
      </Component>

      <Component Id="NLog.config" Guid="{3F0D4A12-190A-4BB9-AB9D-3EC5697487FD}" Win64="$(var.Win64)">
        <File Id="NLog.config" Name="NLog.config" Source="$(var.HideezSafe_TargetDir)NLog.config" />
      </Component>

      <Component Id="SingleInstanceApp.dll" Guid="{E7395408-A4A7-4CD0-AF2D-00DF167F1962}" Win64="$(var.Win64)">
        <File Id="SingleInstanceApp.dll" Name="SingleInstanceApp.dll" Source="$(var.HideezSafe_TargetDir)SingleInstanceApp.dll" />
      </Component>

      <Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="{15764EB6-3970-4625-BA8C-692DFFB0B2D4}" Win64="$(var.Win64)">
        <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.HideezSafe_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>

      <Component Id="System.Windows.Interactivity.dll" Guid="{E8743384-66B6-4553-B617-8B329563D49C}" Win64="$(var.Win64)">
        <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.HideezSafe_TargetDir)System.Windows.Interactivity.dll" />
      </Component>

      <Component Id="Unity.Abstractions.dll" Guid="{F4D594F4-51CA-412E-BFE2-565DDB1CF0D9}" Win64="$(var.Win64)">
        <File Id="Unity.Abstractions.dll" Name="Unity.Abstractions.dll" Source="$(var.HideezSafe_TargetDir)Unity.Abstractions.dll" />
      </Component>

      <Component Id="Unity.Container.dll" Guid="{F7E9DA42-1258-4AAF-9359-5FC797D74017}" Win64="$(var.Win64)">
        <File Id="Unity.Container.dll" Name="Unity.Container.dll" Source="$(var.HideezSafe_TargetDir)Unity.Container.dll" />
      </Component>

      <Component Id="XAMLMarkupExtensions.dll" Guid="{1752DF5C-7458-4DB3-BC00-2D637868C605}" Win64="$(var.Win64)">
        <File Id="XAMLMarkupExtensions.dll" Name="XAMLMarkupExtensions.dll" Source="$(var.HideezSafe_TargetDir)XAMLMarkupExtensions.dll" />
      </Component>

    </ComponentGroup>
  </Fragment>

  <!-- CSR Driver -->
  <Fragment>
    <ComponentGroup Id="CsrDriverShared" Directory="csr">
      <Component Id="DPInst.xml" Permanent="no" Guid="{E5D9E610-9C05-43E6-9F0F-9ED3F8B6755B}">
        <File Id="DPInst.xml" Name="DPInst.xml" Source="$(var.DPInst_SourceDir)DPInst.xml" />
      </Component>
      <Component Id="DPInst_x64.exe" Permanent="no" Guid="{44EAE128-BB8C-4706-8BC5-19193F7277A9}">
        <Condition>VersionNT64</Condition>
        <File Id="DPInst_x64.exe" Name="DPInst.exe" Source="$(var.DPInst_SourceDir)DPInst_x64.exe" />
      </Component>
      <Component Id="DPInst_x86.exe" Permanent="no" Guid="{F153641C-0C7A-4D82-A409-500808AE747D}">
        <Condition>NOT VersionNT64</Condition>
        <File Id="DPInst_x86.exe" Name="DPInst.exe" Source="$(var.DPInst_SourceDir)DPInst_x86.exe" />
      </Component>
    </ComponentGroup>

    <!-- win7 x64 -->
    <ComponentGroup Id="CsrDriverWin7x64" Directory="csr">
      <Component Id="csrbc_win7_x64.sys" Permanent="no" Guid="{64BE26F7-2B26-49EC-9CCB-93CBE71457E5}">
        <Condition>VersionNT = 601 AND VersionNT64</Condition>
        <File Id="csrbc_win7_x64.sys" Name="csrbc.sys" Source="$(var.CsrWin7_x64_SourceDir)csrbc.sys" />
      </Component>
      <Component Id="csrbluecoreusb_win7_x64.cat" Permanent="no" Guid="{1B635AED-BF04-4F71-BB5B-8F33CFA8A7E9}">
        <Condition>VersionNT = 601 AND VersionNT64</Condition>
        <File Id="csrbluecoreusb_win7_x64.cat" Name="csrbluecoreusb.cat" Source="$(var.CsrWin7_x64_SourceDir)csrbluecoreusb.cat" />
      </Component>
      <Component Id="CSRBlueCoreUSB_win7_x64.inf" Guid="{CB24A014-B374-4429-BE00-261C5F6C14AF}">
        <Condition>VersionNT = 601 AND VersionNT64</Condition>
        <File Id="CSRBlueCoreUSB_win7_x64.inf" Name="CSRBlueCoreUSB.inf" Source="$(var.CsrWin7_x64_SourceDir)CSRBlueCoreUSB.inf" />
      </Component>
    </ComponentGroup>

    <!-- win7 x86 -->
    <ComponentGroup Id="CsrDriverWin7x86" Directory="csr">
      <Component Id="csrbc_win7_x86.sys" Permanent="no" Guid="{86738B3B-E11F-4031-A0AC-9CF347ACE983}">
        <Condition>VersionNT = 601 AND NOT VersionNT64</Condition>
        <File Id="csrbc_win7_x86.sys" Name="csrbc.sys" Source="$(var.CsrWin7_x86_SourceDir)csrbc.sys" />
      </Component>
      <Component Id="csrbc2k_win7_x86.sys" Permanent="no" Guid="{4AF28ADC-F915-49FD-B534-56719368D48F}">
        <Condition>VersionNT = 601 AND NOT VersionNT64</Condition>
        <File Id="csrbc2k_win7_x86.sys" Name="csrbc2k.sys" Source="$(var.CsrWin7_x86_SourceDir)csrbc2k.sys" />
      </Component>
      <Component Id="csrbluecoreusb_win7_x86.cat" Permanent="no" Guid="{97B3C874-AB99-4E74-A4A7-54841BCE6532}">
        <Condition>VersionNT = 601 AND NOT VersionNT64</Condition>
        <File Id="csrbluecoreusb_win7_x86.sys" Name="csrbluecoreusb.cat" Source="$(var.CsrWin7_x86_SourceDir)csrbluecoreusb.cat" />
      </Component>
      <Component Id="CSRBLueCoreUSB_win7_x86.inf" Permanent="no" Guid="{1F51E63D-ABD1-4F2D-A751-FA9D63A4D1C8}">
        <Condition>VersionNT = 601 AND NOT VersionNT64</Condition>
        <File Id="CSRBlueCoreUSB_win7_x86.inf" Name="CSRBlueCoreUSB.inf" Source="$(var.CsrWin7_x86_SourceDir)CSRBlueCoreUSB.inf" />
      </Component>
    </ComponentGroup>

    <!-- win8 x64 -->
    <ComponentGroup Id="CsrDriverWin8x64" Directory="csr">
      <Component Id="csrbc_win8_x64.cat" Permanent="no" Guid="{524ADAD7-76AA-4A77-BBE0-777D2E4F49B4}">
        <Condition>VersionNT >= 602 AND VersionNT64</Condition>
        <File Id="csrbc_win8_x64.cat" Name="csrbc.cat" Source="$(var.CsrWin8_x64_SourceDir)csrbc.cat" />
      </Component>
      <Component Id="csrbc_win8_x64.inf" Permanent="no" Guid="{100FEA88-E370-45A5-8636-BDB64AA310DF}">
        <Condition>VersionNT >= 602 AND VersionNT64</Condition>
        <File Id="csrbc_win8_x64.inf" Name="csrbc.inf" Source="$(var.CsrWin8_x64_SourceDir)csrbc.inf" />
      </Component>
      <Component Id="csrbc_win8_x64.sys" Permanent="no" Guid="{579066A2-D22D-4E62-B6EA-4852660BF4DD}">
        <Condition>VersionNT >= 602 AND VersionNT64</Condition>
        <File Id="csrbc_win8_x64.sys" Name="csrbc.sys" Source="$(var.CsrWin8_x64_SourceDir)csrbc.sys" />
      </Component>
    </ComponentGroup>

    <!-- win8 x86 -->
    <ComponentGroup Id="CsrDriverWin8x86" Directory="csr">
      <Component Id="csrbc_win8_x86.cat" Permanent="no" Guid="{FB8C2F77-3C2E-4249-BD31-22FF2336DEE7}">
        <Condition>VersionNT >= 602 AND NOT VersionNT64</Condition>
        <File Id="csrbc_win8_x86.cat" Name="csrbc.cat" Source="$(var.CsrWin8_x86_SourceDir)csrbc.cat" />
      </Component>
      <Component Id="csrbc_win8_x86.inf" Permanent="no" Guid="{582BD3E2-39C6-4C7B-A970-69CE28584B62}">
        <Condition>VersionNT >= 602 AND NOT VersionNT64</Condition>
        <File Id="csrbc_win8_x86.inf" Name="csrbc.inf" Source="$(var.CsrWin8_x86_SourceDir)csrbc.inf" />
      </Component>
      <Component Id="csrbc_win8_x86.sys" Permanent="no" Guid="{43076818-25CF-4028-9807-67475A876FDF}">
        <Condition>VersionNT >= 602 AND NOT VersionNT64</Condition>
        <File Id="csrbc_win8_x86.sys" Name="csrbc.sys" Source="$(var.CsrWin8_x86_SourceDir)csrbc.sys" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <!-- End of CSR Driver -->

  <!--ru-->
  <Fragment>
    <ComponentGroup Id="ru_files" Directory="ru">
      <Component Id="ru_HideezSafe.resources.dll" Guid="{5F0066D8-DFA9-4196-A047-8C66A5357586}">
        <File Id="ru_HideezSafe.resources.dll"
              Name="HideezSafe.resources.dll"
              Source="$(var.HideezSafe_TargetDir)ru\HideezSafe.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!--uk-->
  <Fragment>
    <ComponentGroup Id="uk_files" Directory="uk">
      <Component Id="uk_HideezSafe.resources.dll" Guid="{6C626C6F-D6A6-4106-B700-620EA4954D25}">
        <File Id="uk_HideezSafe.resources.dll"
              Name="HideezSafe.resources.dll"
              Source="$(var.HideezSafe_TargetDir)uk\HideezSafe.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <!-- Custom Action - CSR Driver installation -->
  <Fragment>
    <CustomAction Id="DataForSetupCustomComponentsAction"
                  Property="SetupCustomComponentsAction"
                  Value="HesAddress=[HESADDRESS];InstallDongleDriver=[INSTALLDONGLEDRIVER];CsrDriverPath=[CSRDRIVERPATH]" />
    <Binary Id="CustomActionSetup" SourceFile="$(var.CustomAction.TargetDir)CustomAction.CA.dll"/>
    <CustomAction Id="SetupCustomComponentsAction" 
                  BinaryKey="CustomActionSetup" 
                  DllEntry="SetupCustomComponentsAction" 
                  Execute="deferred"
                  Impersonate="no"
                  Return="check"/>
  </Fragment>
  
</Wix>
